@import url("https://fonts.googleapis.com/css2?family=Freeman&family=Lato:wght@100;300;400&family=Teko:wght@300..700&family=Changa:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/texture-bg.png");
  background-size: cover;
  font-family: "Lato", sans-serif;
  @apply text-stone-800;
}

h1 {
  font-size: clamp(2rem, 4.8vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 4.2vw, 2rem);
}

p {
  font-size: clamp(0.7rem, 2.3vw, 1rem);
}

.spellStat {
  @apply flex flex-wrap gap-1 font-subheading;
}
